name: Close inactive issues
on:
  schedule:
    - cron: "30 1 * * *"

permissions:
  contents: read

jobs:
  close-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: audit

      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          stale-issue-message: "This issue has been marked as stale because it has been open for 8 weeks with no activity. Please remove the stale label or comment or this issue will be closed in 1 week."
          close-issue-message: "This issue was closed because it has been inactive for 2 months with no activity."
          stale-pr-message: "This pull request has been marked as stale because it has been open for 13 weeks with no activity. Please remove the stale label or comment or this pull request will be closed in 1 week."
          close-pr-message: "This pull request was closed because it has been inactive for 6 months with no activity."
          days-before-issue-stale: 56
          days-before-issue-close: 7
          days-before-pr-stale: 91
          days-before-pr-close: 7
